body {
    font-family: arial,sans-serif;

}

.top-navbar {
    width: 100%;
    padding: 0;
    font-size: 13px;
    opacity: 0.75;
    float: right;
    list-style: none;
    padding-right: 15px;
}

.top-navbar li {
    float: right;
}

.top-navbar li a {
    color: #222;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}

.top-navbar li a:hover {
    text-decoration: underline;
}

#grid {
    color: #000;
    background-position: -132px -38px;
    opacity: .55;
    background-image: url(/images/icons.png);
    background-size: 528px 68px;
    border-radius: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    margin-top: -3px;
}

#grid:hover {
    opacity: 2;
}

.main-buttons {

}

.bottom-navbar {

}

