body {
    font-family: arial,sans-serif;

}

.top-navbar {
    width: 100%;
    font-size: 13px;
    list-style: none;
}

.top-navbar li {
    float: right;
}

.top-navbar .left-side li a {
    opacity: 0.75;
    float: right;
    color: #222;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}

.top-navbar .left-side li a:hover {
    text-decoration: underline;
}

.top-navbar li a {
    color: #222;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}

#grid {
    color: #000;
    background-position: -132px -38px;
    opacity: .55;
    background-image: url(/images/icons.png);
    background-size: 528px 68px;
    border-radius: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    margin-top: -3px;
}

#grid:hover {
    opacity: 1;
}

#sign-in {
    background-color: #2B7DE9;
    border: 1px solid transparent;
    font-size: 14px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    color: white;
    padding: 9px 23px;
    min-width: 96px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 8px;
}

#sign-in:hover {
    -moz-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);

}

.main-buttons {

}

.bottom-navbar {
    width: 100%;
    font-size: 14px;
}

.bottom-navbar .left-side li {
    float: left;
    list-style: none;
}

.bottom-navbar .right-side li {
    float: right;
    list-style: none;
}

.bottom-navbar .left-side li a {
    color: #70757a;
    display: block;
    text-decoration: none;
    padding: 15px;
}

.bottom-navbar .left-side li a:hover {
    text-decoration: underline;
}

.bottom-navbar .right-side li a {
    color: #70757a;
    display: block;
    text-decoration: none;
    padding: 15px;
}

.bottom-navbar .right-side li a:hover {
    text-decoration: underline;
}